<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.egoiapp.egoipushlibrary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application>
        <activity android:name=".EgoiPushActivity" />

        <service
            android:name=".services.GeofenceService"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.egoiapp.actions.ACTION_GEOFENCE_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".services.LocationUpdatesIntentService"
            android:exported="true"
            android:enabled="true"
            android:permission="android.permission.ACCESS_FINE_LOCATION|android.permission.FOREGROUND_SERVICE"
            android:foregroundServiceType="location">
            <intent-filter>
                <action android:name="com.egoiapp.actions.LOCATION_UPDATE" />
            </intent-filter>
        </service>

        <receiver
            android:name=".receivers.NotificationEventReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.egoiapp.action.NOTIFICATION_OPEN" />
                <action android:name="com.egoiapp.action.NOTIFICATION_EVENT_VIEW" />
                <action android:name="com.egoiapp.action.NOTIFICATION_EVENT_CLOSE" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receivers.LocationBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.egoiapp.action.PROCESS_UPDATES" />
            </intent-filter>
        </receiver>
    </application>

</manifest>